
<!DOCTYPE html>
<html lang="de">

    <head>
        <meta charset="utf-8" />
        <title>Base</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="generator" content="Eleventy">

        <link href="/assets/css/theme.min.css" rel="stylesheet" type="text/css" />

        {% if ignore %}
        <meta name="robots" content="noindex"/>
        {% else %}
        <meta name="robots" content="index,follow">
        {% endif %}

    </head>

    <body>
        
        {% include "components/header.njk" %}

        {% block main %}{% endblock %}

        {% include "components/footer.njk" %}

        <script src="/assets/js/plugins.min.js"></script>
    </body>
</html>